@font-face {
	font-family: 'Friz Quadrata ITC';
	src: url('../font/FrizQuadrataITC.ttf');
}

* {
	margin: 0;
	padding: 0;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #000;
	cursor: url(../cursor/00001.0x1409.cur), default;
	overflow: hidden;
}

pre {
	padding: 10px 30px;
	font-size: 11px;
	line-height: 10px;
	white-space: pre-wrap;
}

pre.pre-info {
	font-weight: bold;
	color: green;
}

pre.pre-error {
	color: #f44336
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	width: 64px;
	height: 64px;
}

.load .loader {
	display: none;
}

.bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	transition: all .3s;
}

.bg-img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	&[data-src] {
		display: none;
	}
}

.load .bg {
	opacity: 1;
}

/* MENU */

.menu {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: rgb(175,96,37);
	text-shadow: 0 0 3px rgb(175,96,37);
	ul {
		list-style: none;
	}
	li {
		position: relative;
		height: 40px;
		width: 40px;
		margin-bottom: 5px;
		&:hover {
			span {
				background: rgba(255,255,255,.2);
			}
			p {
				opacity: 1;
				color: #fff;
				visibility: visible;
			}
		}
		&:active {
			span {
				top: 1px;
				background: rgba(255,255,255,.3);
			}
		}
	}
	span {
		position: absolute;
		right: 0;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background: rgba(255,255,255,.1);
		border: 1px dashed rgba(255,255,255,.15);
		box-sizing: border-box;
		transition: all .1s;
	}
	p {
		position: absolute;
		top: 0;
		opacity: 0;
		font-family: 'Friz Quadrata ITC';
		font-size: 15px;
		text-align: right;
		line-height: 40px;
		visibility: hidden;
		transition: all .1s;
	}
}

.main-menu {
	p {
		right: 50%;
		padding-left: 20px;
		padding-right: 5px;
	}
	li:hover p {
		right: 100%;
	}
}

.cloud-menu {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	padding: 0;
	padding-right: 100px;
	opacity: 0;
	visibility: hidden;
	transition: all .1s;
	p {
		left: 50%;
		padding-left: 5px;
		padding-right: 20px;
	}
	li:hover p {
		left: 100%;
	}
}

/* CLOUD */

.cloud-edit {
	.cloud-wrapper:hover {
		.cloud-menu {
			opacity: 1;
			visibility: visible;
		}
	}
	.cloud-resize {
		display: block;
	}
	.cloud-items {
		cursor: move;
		background: rgba(255,255,255,.1);
		border: 1px dashed rgba(255,255,255,.15);
	}
	.item {
		cursor: move;
	}
}

.cloud-wrapper {
	position: absolute;
	padding: 30px;
	box-sizing: border-box;
	visibility: hidden;
}

.load .cloud-wrapper {
	visibility: visible;
}

.cloud {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 1;
	box-sizing: border-box;
}

.cloud-resize {
	display: none;
	position: absolute;
	z-index: 1;
	&.resize-e {
		top: 0;
		bottom: 0;
		right: -2px;
		width: 5px;
		height: 100%;
		cursor: e-resize;
	}
	&.resize-se {
		bottom: -2px;
		right: -2px;
		width: 16px;
		height: 16px;
		cursor: se-resize;
	}
	&.resize-s {
		bottom: -2px;
		left: 0;
		right: 0;
		width: 100%;
		height: 5px;
		cursor: s-resize;
	}
	span {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.cloud-items {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
}

/* ITEM */

.item {
	display: flex;
	align-items: center;
	position: absolute;
	padding: 3px 3px 2px 2px;
	cursor: url(../cursor/00001.0x1409.cur), default;
	background: rgba(0,0,0,.7);
	border: 1px solid transparent;
	transition: top .2s, left .2s;
	white-space: nowrap;
	visibility: hidden;
	box-sizing: border-box;
	&:hover {
		border: 1px dashed #4a4a4a;
	}
	&.item-show {
		visibility: visible;
	}
	&.item-sockets {
		padding-left: 17px;
	}
	p {
		font-family: 'Friz Quadrata ITC';
		font-size: 18px;
		color: rgb(127,127,127);
	}
	&.item-rare p {
		color: rgb(255,255,119);
	}
	&.item-magic p {
		color: rgb(136,136,255);
	}
	&.item-unique p {
		color: rgb(175,96,37);
	}
	&.item-corrupted p {
		color: rgb(210,0,0);
	}
	ul {
		position: relative;
		margin-left: 7px;
		width: 11px;
		height: 18px;
		list-style: none;
		&.sockets-4 {
			height: 11px;
		}
		&.sockets-2 {
			height: 4px;
		}
	}
	li {
		position: absolute;
		left: 0;
		top: 0;
		background: rgb(195,195,195);
	}
	.socket-1,.socket-2,.socket-3,.socket-4,.socket-5,.socket-6 {
		width: 4px;
		height: 4px;
	}
	.socket-2 {
		left: 7px;
	}
	.socket-3 {
		left: 7px;
		top: 7px;
	}
	.socket-4 {
		top: 7px;
	}
	.socket-5 {
		top: 14px;
	}
	.socket-6 {
		left: 7px;
		top: 14px;
	}
	.socket-red {
		background: rgb(210,0,0);
	}
	.socket-green {
		background: rgb(158,203,13);
	}
	.socket-blue {
		background: rgb(88,130,254);
	}
	.link-h-1,.link-h-2,.link-h-3 {
		left: 4px;
		width: 3px;
		height: 2px;
	}
	.link-h-1 {
		top: 1px;
	}
	.link-h-2 {
		top: 8px;
	}
	.link-h-3 {
		top: 15px;
	}
	.link-v-1,.link-v-2 {
		width: 2px;
		height: 3px;
	}
	.link-v-1 {
		left: 8px;
		top: 4px;
	}
	.link-v-2 {
		left: 1px;
		top: 11px;
	}
}

.item-on-drag {
	transition: none;
}
